<div class="main-content rtl menu-{{tempSidebarType}}"
     [ngClass]="{
        'sidebar-lock' : sidebarLock,
        'sidebar-open' : sidebarVisible
     }">
  <nav class="navbar navbar-expand shadow-sm fixed-top justify-content-between">
    <ng-button
      *ngIf="!sidebarLock && tempSidebarType != 'hover' && tempSidebarType != 'horizontal'"
      icon="pi pi-bars"
      color="secondary"
      appearance="text"
      size="lg"
      (click)="toggleSidebarClick()">
    </ng-button>
    <div class="collapse navbar-collapse">
      <div class="w-100 d-flex align-items-center justify-content-between">
        <h3>عنوان</h3>
        <p-avatar role="button" image="assets/images/avatar.png" routerLink="/profile" size="large"
                  shape="circle"></p-avatar>
      </div>
    </div>
  </nav>

  <main>
    <ng-content></ng-content>
  </main>

  <p-sidebar
    [visible]="sidebarVisible"
    [blockScroll]="isModalSidebar"
    [modal]="isModalSidebar"
    position="right"
    [showCloseIcon]="false"
    [closeOnEscape]="false"
    (visibleChange)="toggleSidebar($event)">
    <ng-template pTemplate="header">
      <h3 class="w-100 my-3 text-center">مدرسه من</h3>
    </ng-template>
    <ng-template pTemplate="content">
      <p-panelMenu [multiple]="false" [model]="sidebarItems"></p-panelMenu>
    </ng-template>
  </p-sidebar>
</div>
