<div class="container-fluid">
  <p-card class="mb-3">
    <h4>فیلتر</h4>
    <form [formGroup]="form" class="row mt-4">
      <ng-dropdown formControlName="province_id" class="mt-2 col-sm-6 col-lg-3" label="استان"></ng-dropdown>
      <ng-dropdown formControlName="major" class="mt-2 col-sm-6 col-lg-3" label="منطقه"></ng-dropdown>
      <ng-dropdown formControlName="school_type" class="mt-2 col-sm-6 col-lg-3" label="نوع مدرسه"></ng-dropdown>
      <ng-dropdown formControlName="school_id" class="mt-2 col-sm-6 col-lg-3" label="مدرسه"></ng-dropdown>
      <ng-dropdown formControlName="gender_id" class="mt-2 col-sm-6 col-lg-3" label="جنسیت"></ng-dropdown>
      <ng-dropdown formControlName="grade" class="mt-2 col-sm-6 col-lg-3" label="مقطع"></ng-dropdown>
      <ng-dropdown formControlName="stage" class="mt-2 col-sm-6 col-lg-3" label="پایه"></ng-dropdown>
      <ng-dropdown formControlName="field" class="mt-2 col-sm-6 col-lg-3" label="رشته"></ng-dropdown>
      <div class="mt-2 d-flex align-items-center col-sm-6 col-lg-3 mr-auto">
        <ng-button [full]="true" label="اعمال"></ng-button>
        <ng-button
          *ngIf="filterEnabled"
          appearance="outlined"
          color="danger"
          pTooltip="حذف فیلتر"
          tooltipPosition="top"
          class="mr-2"
          size="md"
          [rounded]="true"
          icon="pi pi-times"
          (onClick)="clearFilter()">
        </ng-button>
      </div>
    </form>
  </p-card>

  <p-card>
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <ng-figure title="تعداد کل" layout="horizontal" sub="0"></ng-figure>
      </div>
      <div class="col-sm-6 col-lg-3 mt-2 mt-sm-0">
        <ng-figure title="درحال برگزاری" layout="horizontal" sub="0"></ng-figure>
      </div>
      <div class="col-sm-6 col-lg-3 mt-2 mt-lg-0">
        <ng-figure title="لغو شده" layout="horizontal" sub="0"></ng-figure>
      </div>
      <div class="col-sm-6 col-lg-3 mt-2 mt-lg-0">
        <ng-figure title="انجام شده" layout="horizontal" sub="0"></ng-figure>
      </div>
    </div>
  </p-card>
</div>
