<div class="container-fluid">
  <p-card class="mb-3">
    <h4>فیلتر</h4>
    <form [formGroup]="form" class="row mt-4">
      <ng-dropdown formControlName="province_id" class="mt-2 col-sm-6 col-lg-3" label="استان"></ng-dropdown>
      <ng-dropdown formControlName="major" class="mt-2 col-sm-6 col-lg-3" label="منطقه"></ng-dropdown>
      <ng-dropdown formControlName="school_type" class="mt-2 col-sm-6 col-lg-3" label="نوع مدرسه"></ng-dropdown>
      <ng-dropdown formControlName="school_id" class="mt-2 col-sm-6 col-lg-3" label="مدرسه"></ng-dropdown>
      <ng-dropdown formControlName="gender_id" class="mt-2 col-sm-6 col-lg-3" label="جنسیت"></ng-dropdown>
      <ng-dropdown formControlName="grade" class="mt-2 col-sm-6 col-lg-3" label="مقطع"></ng-dropdown>
      <ng-dropdown formControlName="stage" class="mt-2 col-sm-6 col-lg-3" label="پایه"></ng-dropdown>
      <ng-dropdown formControlName="field" class="mt-2 col-sm-6 col-lg-3" label="رشته"></ng-dropdown>
      <div class="mt-2 d-flex align-items-center col-sm-6 col-lg-3 mr-auto">
        <ng-button [full]="true" label="اعمال"></ng-button>
        <ng-button
          *ngIf="filterEnabled"
          appearance="outlined"
          color="danger"
          pTooltip="حذف فیلتر"
          tooltipPosition="top"
          class="mr-2"
          size="md"
          [rounded]="true"
          icon="pi pi-times"
          (onClick)="clearFilter()">
        </ng-button>
      </div>
    </form>
  </p-card>

  <div class="row">
    <div class="col-md-6 mb-3">
      <p-card>
        <div class="d-flex justify-content-between mb-2">
          <h4 class="mb-0"><img src="assets/images/exam.png" class="ml-2">آزمون</h4>
          <ng-button routerLink="/exam" appearance="outlined" icon="pi pi-chevron-left"
                     label="نمایش جزئیات"></ng-button>
        </div>
        <div class="row">
          <div class="col-sm-6 mt-2 col-xl-3">
            <ng-figure title="درحال برگزاری" sub="0"></ng-figure>
          </div>
          <div class="col-sm-6 mt-2 col-xl-3">
            <ng-figure title="لغو شده" sub="0"></ng-figure>
          </div>
          <div class="col-sm-6 mt-2 col-xl-3">
            <ng-figure title="انجام شده" sub="0"></ng-figure>
          </div>
          <div class="col-sm-6 mt-2 col-xl-3">
            <ng-figure title="فعال" sub="0"></ng-figure>
          </div>
        </div>
      </p-card>
    </div>
    <div class="col-md-6 mb-3">
      <p-card>
        <div class="d-flex justify-content-between mb-2">
          <h4 class="mb-0"><img src="assets/images/homework.png" class="ml-2">تکلیف</h4>
          <ng-button routerLink="/exam" appearance="outlined" icon="pi pi-chevron-left"
                     label="نمایش جزئیات"></ng-button>
        </div>
        <div class="row">
          <div class="col-sm-6 mt-2 col-xl-3">
            <ng-figure title="درحال برگزاری" sub="0"></ng-figure>
          </div>
          <div class="col-sm-6 mt-2 col-xl-3">
            <ng-figure title="لغو شده" sub="0"></ng-figure>
          </div>
          <div class="col-sm-6 mt-2 col-xl-3">
            <ng-figure title="انجام شده" sub="0"></ng-figure>
          </div>
          <div class="col-sm-6 mt-2 col-xl-3">
            <ng-figure title="فعال" sub="0"></ng-figure>
          </div>
        </div>
      </p-card>
    </div>
    <div class="col-md-6 mb-3">
      <p-card>
        <div class="d-flex justify-content-between mb-2">
          <h4 class="mb-0"><img src="assets/images/activity.png" class="ml-2">دفتر معلم</h4>
          <ng-button routerLink="/exam" appearance="outlined" icon="pi pi-chevron-left"
                     label="نمایش جزئیات"></ng-button>
        </div>
        <div class="row">
          <div class="col-sm-6 mt-2 col-xl-3">
            <ng-figure title="درحال برگزاری" sub="0"></ng-figure>
          </div>
          <div class="col-sm-6 mt-2 col-xl-3">
            <ng-figure title="لغو شده" sub="0"></ng-figure>
          </div>
          <div class="col-sm-6 mt-2 col-xl-3">
            <ng-figure title="انجام شده" sub="0"></ng-figure>
          </div>
          <div class="col-sm-6 mt-2 col-xl-3">
            <ng-figure title="فعال" sub="0"></ng-figure>
          </div>
        </div>
      </p-card>
    </div>
    <div class="col-md-6 mb-3">
      <p-card>
        <div class="d-flex justify-content-between mb-2">
          <h4 class="mb-0"><img src="assets/images/tutorial.png" class="ml-2">درسنامه</h4>
          <ng-button routerLink="/exam" appearance="outlined" icon="pi pi-chevron-left"
                     label="نمایش جزئیات"></ng-button>
        </div>
        <div class="row">
          <div class="col-sm-6 mt-2 col-xl-3">
            <ng-figure title="درحال برگزاری" sub="0"></ng-figure>
          </div>
          <div class="col-sm-6 mt-2 col-xl-3">
            <ng-figure title="لغو شده" sub="0"></ng-figure>
          </div>
          <div class="col-sm-6 mt-2 col-xl-3">
            <ng-figure title="انجام شده" sub="0"></ng-figure>
          </div>
          <div class="col-sm-6 mt-2 col-xl-3">
            <ng-figure title="فعال" sub="0"></ng-figure>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
